.nav-container{
display: flex;
align-items: start;
justify-content: space-between;
height: 12vh;
background-color: rgb(40, 40, 40);
border-bottom: 1px solid white;

}
.left-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    margin-left: 30px;
}
.left-nav h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(234, 230, 230);
    font-family: math;
}
.left-nav h2:hover{
    color: white;
    cursor: pointer;
}
.left-nav button{
    height: 5.5vh;
    width: 11rem;
    background-color: rgb(40, 40, 40);
    border: 1px solid white;
    color: rgb(202, 200, 200);
    position: relative;
    font-weight: bold;
   
}
.left-nav button:hover{
    background-color: rgb(48, 241, 48);
    color: white;
    cursor: pointer;
}
.left-nav button svg{
    color: #000;
    background-color: rgb(40, 40, 40);
    color: #fff;
    width: 26px;
    height: 3vh;
    position: absolute;
    transition: transform 0.3s ease;
}
.left-nav button:hover svg{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    transform: rotate(180deg);
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 30px;
}
.right-nav h1{
    color: white;
    font-size: 20px;
    font-family: math;
   cursor: pointer;
}