.body-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
    padding-top: 15%;
    height: 50vh;
    gap: 30px;
    
}
.body-container img{
    border-radius: 50%;
    width: 12rem;
    height: 25vh;
}
.body-info{
    line-height: 60px;
}
.body-info h1{
    font-family: math;
    color: white;
    font-size: 20px;
}
.body-info p{
    color: #929090;
    font-size: 4rem;
}
.body-info span{
    color: white;
}
.body-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    gap: 20px;
}
.btn1{
    background-color: rgb(48, 241, 48);
    height: 8vh;
    width: 12rem;
    font-size: 14px;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 8px;
}
.btn1 a{
    background-color: transparent;
    text-decoration: none;
    font-size: bold;
    color: #fff;

}
.btn1 svg{
    height: 2.5vh;
    position: absolute;
    width: 2rem;
    background-color: transparent;
    transition: transform 0.3s ease;
}
.btn1:hover svg{
    transform: rotate(180deg);
   
}
.btn2{
    background-color: rgb(40, 40, 40);
    height: 8vh;
    width: 12rem;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    text-align: start;
    padding: 8px;
    transition: transform 0.2s ease-in-out;
}
.btn2 a{
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
.btn2 svg{
    height: 3vh;
    width: 2rem;
    position: absolute;
    background-color: #fff;
    color: #fff;
    top: 30%;
    background-color: transparent;
}
.btn2:hover{
    transform: scale(1.1);
    background-color: #a8a6a6;
    color: black;
}
.btn2:hover a{
    color: black;
}
.btn2:hover svg{
    background-color: transparent;
}

@media (max-width:935px){
    .body-info p{
        font-size: 2rem;
    }
}

@media (max-width:632px){
    .body-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     height: 85vh;
     margin-left: 0px;
     gap: 5px;
    }
    .body-info h1{
        text-align: center;
    }
    .body-btn{
        display: flex;
        flex-direction: column;

    }
    .body-info p{
        font-size: 1.5rem;
    }
}

@media (max-width:444px){
    .body-info p{
        font-size: 18px;
    }
}
@media(max-width:415px){
    .body-container img{
        height: 18vh;
        width: 9rem;
    }
}
@media (max-width:384px){
    .body-container img{
        width: 8rem;
        height: 18vh;
    }
}
